<%- include('../layouts/adminHeader.ejs') %>



<div>
    <h1 class="text-center">pages</h1>
</div>

<a href="/api/admin/pages/add-page" class="btn btn-primary">Add a new page</a>

<div class="container">
    <table class="table ">
       <thead>
         <tr>
           <th>Title</th>
           <th>Edit</th>
           <th>Delete</th>
         </tr>
       </thead>
    </table>



<%- include('../layouts/adminFooter.ejs') %>